<br />
<%
=begin%>
 <%= button_to "New Questionnaire", api_v1_questionnaire_index_url, method: :get %> 
<%
=end%>
<form action = "/api/v1/questionnaire">
    <h4>please enter your email and hit submit to start fill the questionnaire:</h4>
    <input name="email" value="" />
    <br>
    <br>
    <input type="submit"/>
</form>
<br />
<hr>
<hr>
<h3> Highest scores: </h3>
<br />

<% if @questionnaires.present? %>
    <% @questionnaires.each do |questionnaire| %>
        <ul>
            <li><b>email:</b> <%= questionnaire&.user&.email %> </li>
            <li><b>point:</b> <%= questionnaire&.point %></li>
        </ul>
        <hr />
        <br />
    <% end %>

<% else %>
    <p>There is no data.</p>
<% end %>