<br />
<%
=begin%>
 <%= button_to "New Questionnaire", api_v1_questionnaire_index_url, method: :get %> 
<%
=end%>
<form action = "/api/v1/questionnaire">
    <h4>please enter your email and hit submit to start fill the questionnaire:</h4>
    <input name="email" value="" required/>
    <br>
    <br>
    <input type="submit"/>
</form>
<br />
<hr>
<hr>
<h3> Highest scores: </h3>
<br />

<% if @result.present? %>
    <% @result.each do |res| %>
    <% next if res[:total_point] == 0.0 %>
        <ul>
            <li><b>email:</b> <%= res[:questionnaire]&.user&.email %> </li>
            <li><b>point:</b> <%= res[:total_point] %></li>
        </ul>
        <hr />
        <br />
    <% end %>

<% else %>
    <p>There is no data.</p>
<% end %>